.one {
  display: flex;
  justify-content: end;
}
.two {
  display: flex;
  justify-content: start;
}
.messageContainer {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  gap: 5px;
}
.messageUsers{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-bet;
}
.parentContain {
  margin-top: 20px;
}
.formContain {
  margin-top: 30px;
}

.message {
  display: flex;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
}

.messageUsers {
}

.userList {
  max-width: 305px;
  border-right: 1px solid #e6e6e6;
}

.form {
  width: 100%;
  border-radius: 10px 0px 0px 0px;
  border-bottom: 1px solid #e6e6e6;
}
.formContain{
    display: flex;
    
}

.users {
  margin-top: 20px;
}

.user {
  display: flex;
  align-items: center;
  gap: 11px;

  margin: 10px 18px 10px 20px;
}
.img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
