.fs {
    &-12 {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
    }
  
    &-14 {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
    }
    &-16 {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }