.form {
  max-width: 370px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  & a {
    color: #ffffff;
  }
}

.formButton {
}
.headerText {
  margin-bottom: 25px;
  font-size: 36px;
  color: #ffffff42;
  text-shadow: -2px -2px 0px #240b49;
}



// .inputForm {
//   border: none;
//   background-color: #b29bbfcf;
//   height: 40px;
//   border-radius: 5px;
//   box-shadow: inset 0px 3px 10px 0px black;
//   max-width: 560px;
//   min-width: 320px;
//   font-size: 20px;
//   padding-inline: 15px;
//   font-family: monospace;
// }
// .inputForm::placeholder {
//   color: rgba(58, 21, 75, 0.377);
//   text-align: center;
//   font-size: 18px;
//   font-weight: 800;
//   font-style: italic;
//   font-family: monospace;
// }
// /* .inputForm:focus {
//     background-color: black;
// } */
// .inputForm:-webkit-autofill {
//   transition: background-color 5000s ease-in-out 0s;
// }
