.profile-container {
    width:100%;
    margin: 0 auto;
    padding-top: 40px;
    font-family: Arial, sans-serif;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    padding-bottom: 33px;
    border-bottom: 1px solid #dbdbdb;
  }
  
  .profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 30px;
  }
  
  .profile-info {
    flex-grow: 1;
  }
  
  .profile-info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .username {
    font-size: 28px;
    margin-right: 20px;
  }
  
  .edit-profile-btn {
    padding: 5px 10px;
    border: 1px solid #dbdbdb;
    background-color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .profile-stats {
    display: flex;
    gap: 20px;
    margin-top: 10px;
  }
  
  .stat {
    font-size: 16px;
  }
  
  .profile-bio {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-top: 15px;
  }
  
  .profile-bio p {
    margin: 0;
    text-align: start;
  }
  
  .profile-bio a {
    color: #d23669;;
    text-decoration: none;
    font-weight: 500;
    text-align: start;
  }
  
  .posts-grid {
    display: grid;
    grid-template-columns: repeat(4,230px);
    gap: 10px;
    margin-top: 20px;
  }
  
  .post-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }