.btn {
  padding: 8px 18px;

  border: 1px solid transparent;
  color: #080606;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  transition: all 0.2s ease-in-out;

  cursor: pointer;

  &.solid {
    background: rgba(255, 44, 85, 1);

    color: #fff;
  }

  &.outline {
    border-radius: 5px;
    background: #fff;
    border: 1px solid rgba(255, 44, 85, 1);
    color: rgba(255, 44, 85, 1);
  }
  &.addPost-btn {
    max-width: 200px;
    width: 100%;
    height: 100%;
    
    border-radius: 5px;
    background: rgba(255, 44, 85, 1);
    padding: 12px 18px;
    color: #fff;
  }

  &.closePost-btn {
    max-width: 200px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #fff;

    padding: 12px 18px;
    color: rgba(255, 44, 85, 1);
    border: 1px solid rgba(255, 44, 85, 1);
  }

  &.cardPostBtn {
    background: rgba(255, 44, 85, 1);
    padding: 11px 14px;
    color: #fff;
    border-radius: 0px 0px 5px 0px;
  }
  &.profileBtn {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    padding: 15px 97px 15px;
  }
  &.navUserBtn {
    background-color: #ffffff;
    padding: 0;
  }
  &.navUserBtn{
    background-color: #ffffff;
    padding: 0;

  }

  &.loginBtn{
    padding: 14px ;
    background: #FF2C55;

  }
}
