.navbar {
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.1);

  &-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 13px 0px;
  }
  &-form {
    max-width: 398px;
    width: 100%;
  }
}
