/* Основной стиль для наложения */

  
.modal{
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &-form {
    &-label {
      display: flex;
      flex-direction: column;

      align-items: start;
      gap: 15px;
      &-textarea {
        width: 585px;
        height: 117px;
        border-radius: 10px;
        opacity: 0px;
        outline: none;
        resize: none;
      }
    }
  }
}


.modal-content {
  background-color: rgb(199, 195, 195);
  padding: 30px;
  border-radius: 8px;
  width: 645px;
  z-index: 1001;
}

.open-modal-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.profile-foto {
  margin: 5px;
  h3 {
    margin: 0;
  }
  a {
    color: rgba(255, 44, 85, 1);
    text-decoration: none;
    font-weight: 500;
  }
}
.profile-picture-modal {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid rgba(255, 44, 85, 1);
}
form label {
  display: block;
  margin-bottom: 5px;
}

form input,
form select,
form textarea {
  text-align: start;
  width: 585px;
  padding: 8px;
  // margin-top: 5px;
  // margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
.checkbox {
  width: 15px;
  margin: 0;
}
.checkbox-container {
  font-size: 12px;
  line-height: 14px;
  width: 585px;
  text-align: start;
  margin-left: 20px;

  border:  solid #000;

  gap: 8px;
}

button {
  padding: 10px 15px;

  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.close-modal-btn {
  width: 585px;
  margin: 10px 10px;
  background-color: rgb(29, 37, 242);
  color: white;
}
button[type="submit"] {
  width: 585px;
  margin: 0 10px;
  background-color: rgba(255, 44, 85, 1);
  color: white;
}
